body{
    background-color: white;
    font-family: "Bungee," cursive;
    display: flex-start;
    align-items:stretch;
    text-decoration: none;
    @media 
     {min-width: 768px;
        
    }
}



#top{
   height: 84px;
   transition: width 2s;
   color: black;
    
}
#top:hover{
    color: #10fdff;
}
#logo{
    float: left;
}
.table{
    display: table;
    margin: 0 auto;
    
}
ul#horizontal_list{
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  
}
 ul#horizontal-list li{
    display: inline;
    float: right;
}
a{
    text-decoration: none;
    font-family: "Bungee";
    color: #7944e6;
    font-size: 36px;

}
a:hover{
    color:#10fdff;

}
#pink{ 
        display: flex-start; 
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: #ff00ff;
        display:flex;
            text-size-adjust:inherit;
            color: black;
            font-family: "Bungee";

        }
        th{  
            text-align: left;
            color: black;
            font-family: "Bungee";
            font-size: medium;
            font-weight: bold;
         
    }

#about{ 
            font-size: 36px;
            text-align: left;
            font-weight: bolder
}
            
#buttons{       
        position: relative;  
        font-family: "Bungee";
        text-align: center;
    }
#button1{ 
    float: left;
}
#button3{
    float: right;

    }
button:hover{
    border-style: solid;
    border-radius: 15px;
    border-width: thick;
    border-color: #7944e6;
    text-transform: #7944e6;
}
h3{
    font-family: "Bungee";
    color: black;
    font-size: 24px;
}

h4{
    font-family: "Bungee";
    color: black;
    font-size: 24px;
}
h5{
    font-family: "Bungee";
    color: black;
    font-size: 24px;
}
#menu1{
    font-size: 18px;
    text-align: center;
}
#menu2{
    font-size: 18px;
    text-align: center;
}
#menu3{
    font-size: 18px;
    text-align: center;
}
